body {
	
background-color: #bbbea9;

}

#logo {
max-width: 28%;
max-height: 28%;
padding: 3px 3px 3px 3px;
margin-left: 36%;
margin-right: 36%;

}
#naranc {

	margin: -8px -8px 0px -8px;
	min-height: 30px;
	background-color: #241C17;
}

#naranc2 {

	margin: 0px -8px 10px -8px;
	min-height: 6px;
	background-color: #f6500a;
}


form {
  border: 4px solid #241C17;
  background-color: #f6500a;
  max-width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8%;
  border-radius: 7px;
  font-family: arial light;

}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 11px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #241c17;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: arial;
  font-style: italic;
}


button {
  background-color: #241C17;
  color: white;
  padding: 12px 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 7px;
  font-family: arial light;
  font-size: 17px;
}


button:hover {
  background-color: #130a01;
  color: #f75705;
  border-radius: 7px;
}


.container {
  padding: 16px;

}


span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}