body {
	
background-color: #bbbea9;

}

#naranc {

  margin: -8px -8px 0px -8px;
  min-height: 30px;
  background-color: #241C17;
}

#naranc2 {

  margin: 0px -8px 10px -8px;
  min-height: 6px;
  background-color: #f6500a;
}

#logo {
max-width: 28%;
max-height: 28%;
padding: 3px 3px 3px 3px;
margin-left: 36%;
margin-right: 36%;

}